<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gitDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE56A0B01E7B102C0023CFE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE56A0C41E7B102C0023CFE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE56A0CF1E7B102D0023CFE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
